*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: Arial, Helvetica;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: #a2b9bc;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

#nav-Logo {
  margin-right:auto ;
  font-size: 1.5em;
}

/* End of header */

/* start of main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fafafa;
  min-height: 100vh;
}
/* end of main */
/* start of footer */
footer {
  display: flex;
  justify-content: space-around;
  
  
  padding: 20px;
  box-shadow: 0 1px 8px #ddd;
  background-color: #878f99;

  
}

.footer__headline {
  font-weight: bold;
  font-family: 'Gulzar', serif;
}

.footer__list {
  font-family: 'Gulzar', serif;
  list-style: none;
  padding: 0;
  margin: 0;
}


footer a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
  
}
footer li {
  margin: auto;

}

.copyDiv {
  background-color: black;
  color: aquamarine;
  text-align: center;
}
/* end of footer */
/*TODO TABLE */

table{
  margin:0 auto ;
  border-collapse:collapse ;
  width: 50%;
 }
 td{
  text-align: center;
 }
 td ,th {
  text-align: center;
  padding: 15px;
  border-spacing:5px ;
 }
 table ,th ,td ,tr {
  border-bottom:1px solid black ;
 }
 th{
  background-color:  #8de679;
    color: #ddd;
 }
 tr{
  background-color: #b2ad7f;
 }
 
 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

 /*end of table*/
 







/*Responsivnes */

@media(max-width: 500px){

  footer{
    flex-direction:column;
  }
}